@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  font-family: 'Rubik', sans-serif;
}

header .menuGrid {
  padding-top: 89px;
  padding-bottom: 76px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 113px 216px 78px 109px 59px 139px 178px 50px 80px;
      grid-template-columns: 113px 216px 78px 109px 59px 139px 178px 50px 80px;
  gap: 20px;
}

header .menuGrid .credit24 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 8px 20px;
}

header .menuGrid .credit24 a {
  color: white;
}

header .menuGrid .menuCard {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menuGrid .menuCard1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

header .menuGrid .menuCard2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
}

header .menuGrid .menuCard3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1/5/2/6;
}

header .menuGrid .menuCard4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1/6/2/7;
}

header .menuGrid .menuCard5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 1/7/2/8;
}

header .menuGrid .biglanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 1/9/2/10;
  gap: 3px;
}

header .menuGrid .biglanguage .language {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

header .menuGrid .biglanguage .language:hover {
  background-color: #333333;
  border-radius: 10px;
  color: white;
}

header .menuGrid .biglanguage .languageAdd {
  background-color: #333333;
  border-radius: 10px;
  color: white;
}

header .menuGrid .menuforVsp {
  display: none;
}

@media (max-width: 360px) {
  .container {
    margin: 0;
    padding: 5px;
  }
  header .menuGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menuGrid .menuCard {
    display: none;
  }
  header .menuGrid .credit24 {
    background: none;
  }
  header .menuGrid .credit24 a {
    color: #333333;
  }
  header .menuGrid .biglanguage {
    display: none;
  }
  header .menuGrid .menuforVsp {
    justify-self: center;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px 0;
    border-radius: 50%;
    background-color: #FFF9DC;
  }
}
/*# sourceMappingURL=header.css.map */