@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@mixin text($family,$style,$weight,$size,$lineHeight,$color) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    color: $color;
}
@mixin button($widht,$height,$padding,$backColor,$border,$borderRad) {
    width:$widht ;
    height: $height;
    padding: $padding;
    background-color: $backColor;
    border: $border;
    border-radius: $borderRad;   
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    text-decoration: none;
    color:black;
}
header{
    font-family: 'Rubik', sans-serif;
        .menuGrid{
            padding-top: 89px;
            padding-bottom: 76px;
            display: grid;    
            grid-template-columns: 113px 216px 78px 109px 59px 139px 178px 50px 80px;
            gap: 20px;
            .credit24{
                @include text('Rubik',normal,500,17px,20px,#ffffff);
                background-color: #333333;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                padding: 8px 20px;
                a{
                    color: white;
                }
            }
            .menuCard{
                @include text('Rubik',normal,400,16px,18px,#ffffff);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .menuCard1{
                grid-area: 1/3/2/4;
            }
            .menuCard2{
                grid-area: 1/4/2/5;
            }
            .menuCard3{
                grid-area: 1/5/2/6;
            }
            .menuCard4{
                grid-area: 1/6/2/7;
            }
            .menuCard5{
                grid-area: 1/7/2/8;
            }
            
            
            .biglanguage{
                display: flex;
                grid-area: 1/9/2/10;
                gap:3px;
                .language{
                    @include text('Rubik',normal,400,16px,19px,#000);
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0;
                }
                .language:hover{
                    background-color: #333333;
                    border-radius: 10px;
                    color:white;
                }
                .languageAdd{
                    background-color: #333333;
                    border-radius: 10px;
                    color:white;
                }
            }
            .menuforVsp{
                display: none;
            }
        }
    
}
@media (max-width: 360px){
    .container{
        // max-width: 360px;
        margin: 0;
        padding: 5px;
    }
    header{
        .menuGrid{
            display: flex;
            justify-content: space-between;
            .menuCard{
                display: none;
            }
            .credit24{
                background: none;
                a{
                    color: #333333;
                }
            }
            .biglanguage{
                display: none;
            }
            .menuforVsp{
                justify-self: center ;
                width: 50px;
                height: 50px;
                // grid-area: 1/9/2/10;
                display: flex;
                flex-direction:column ;
                justify-content: center;
                align-items: center;
                gap: 8px 0; 
                border-radius: 50%;
                background-color: #FFF9DC;

            }
        }
    }
}

