@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@mixin text($family,$style,$weight,$size,$lineHeight,$color) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    color: $color;
}
@mixin button($widht,$height,$padding,$backColor,$border,$borderRad) {
    width:$widht ;
    height: $height;
    padding: $padding;
    background-color: $backColor;
    border: $border;
    border-radius: $borderRad;   
}
$colorAngri:linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
.reclamaFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .creditoform{
        max-width: 380px;
        max-height: 362px;
        display: flex;
        flex-direction: column;
        .advertisement{
            @include text('Rubik',normal,400,16px,19px,#333333);
            font-family: 'Rubik', sans-serif;
            margin-bottom: 9px;
        }
        .sizeCredit{
            @include text('Rubik',normal,600,48px,50px,#333333);
            margin-bottom: 29px;
            
            
        }
        .conditions{
            display: grid;
            grid-template-columns: 50px 330px;
            grid-template-rows: 25px 25px 25px;
            height: 96px;
            gap: 10px;
            margin-bottom: 41px;
                .num{
                    @include text('Rubik',normal,500,13px,15px,#333333);
                    background: #FFFFFF;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .num1{
                    grid-area: 1/1/2/2;
                }
                .num2{
                    grid-area: 2/1/3/2;
                }
                .num3{
                    grid-area: 3/1/3/2
                }
                .text{
                    @include text('Rubik',normal,400,19px,23px,#333333);
                    display: flex;
                    align-items: center;
                }
        }
        .btnCredit{

            @include text('Rubik',normal,500,16px,19px,#333333);
            border-radius: 25px;
            padding: 15px 0px 16px;
            background: #405554;
            color: #ffffff;
        }
    }
    .imgBaba{
        margin-top: 4px;
    }
    .stokForm{
        margin-top: 38px;
        font-family: 'Rubik', sans-serif;
        max-height: 230px;
        max-width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .promotionalRate{
            @include text('Rubik',normal,600,35px,130%,#333333);
            span{
                @include text('Rubik',normal,500,20px,130%,#333333);
                border: solid 1px #FFEC91;
                background-color: #FFEC91;
                border-radius: 25px;
                padding: 5px 24px;
                margin-left: 20px;

            }
        }
        .advertisementCredit{
            @include text('Rubik',normal,400,15px,18px,#333333);
        }
        .dataGrid{
            display: grid;
            grid-template-columns: 62px 62px 62px 62px;
            grid-template-rows: 35px 18px;
            gap: 7px 15px;
            .data{
                display: flex;
                justify-content: center;
                align-items: center;
                @include text('Rubik',normal,500,13px,15px,#333333);
                border-radius: 25px;
                background: #FFFFFF;
            }
            .word{
                @include text('Rubik',normal,400,15px,18px,#333333);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
}
main{
    font-family: 'Rubik', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    .partners{
        @include text('Rubik',normal,500,25px,30px,#333333);
        margin-bottom: 30px;
    }
    
    .schemeOfWork{
        margin-top: 100px;
        padding-top: 56px;
        padding-bottom: 92px;
        font-family: 'Rubik', sans-serif;
        // min-height: 250px;
        background: #F0F0F0;
        .schemeText{
            @include text('Rubik',normal,500,25px,30px,#333333);
            padding-bottom:30px ;
        }
        .arrangeCreditGrid{
            display: grid;
            grid-template-columns: 57px 195px 57px 195px 57px 195px 310px;
            gap:27px;
            .num{
                background-color: #ECE4C0;
                box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
                border-radius: 11px;
                display: flex;
                justify-content: center;
                align-items: center
            }
            .arrangeText{
                @include text('Rubik',normal,400,15px,18px,#333333);
            }
        }
        button{
            background: #405554;
            border-radius: 25px;
            color: #ffffff;
        }
    }
    .whyOurGrid{
        padding:  100px 0 100px 0;
        display: grid;
        grid-template-columns: 400px 380px 380px ;
        grid-template-rows: 150px 150px;
        gap: 25px 34px;
        .cardFlex{
            @include text('Rubik',normal,400,15px,18px,#333333);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px 0;
            background: #E0E1C3;
            border-radius: 25px;
        }
        .whyOurText{
            @include text('Rubik',normal,500,25px,30px,#333333);
        }
        .card1{
            grid-area: 1/2 /2/3 ;
        }
        .card2{
            grid-area: 1/3 /2/4;
        }
        .card3{
            grid-area: 2/ 2/3/3;
        }
        .card4{
            grid-area: 2 /3 /3/4;
        }
    }
    .colorBackRaffle{
        background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);;
        .Raffle{
            display: flex;
            justify-content: space-between;
            padding: 90px 0 72px 0;
            .RaffleText{
                max-width: 335px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    margin: 0 0 17px 0;
                    @include text('Rubik',normal,500,60px,71px,#333333);
                }
                h3{
                    margin: 0 0 21px 0;
                    @include text('Rubik',normal,600,16px,19px,#333333);
                }

                h4{
                    width: 259px;
                    margin: 0 0 58px 0;
                    @include text('Rubik',normal,400,15px,18px,#333333);
                }
                button{
                    @include text('Rubik',normal,500,16px,19px,#333333);
                    padding: 15px 0 15px 0;
                    width: 260px;
                    background: #405554;
                    border-radius: 25px;
                    color: white;
                }
            }
        }
    }
    .ourClines{
        h1{
            @include text('Rubik',normal,500,25px,30px,#333333);
        }
            
        .strelkaclient{
            position: absolute;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
            background: #FFFFFF;
            border-radius: 50%;
            border:1px solid #DEDEDE; 
        }
        .strelkaclientLeft{
            top: 200px;
            left: -80px; 
        }
        .strelkaclientRight{
            top: 200px;
            right: -80px;
        }
    }
    .sliderButton{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            border: 1px solid #CAD2E1;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            background-color: #CAD2E1;
            margin: 35px 10px;
            
        }
        .enterOval{
            border: 5px solid #F2DEA3;
            width: 14px;
            height: 14px;
            background-color: white;
        }
        div:hover{
            border: 5px solid #F2DEA3;
            width: 14px;
            height: 14px;
            background-color: white;
        }
    }
    .howMuchUsColor{
        background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
        .howMuchUsFlex{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 47px 100px 37px 100px;
            .number{
                h1{
                    margin: 0;
                    @include text('Rubik',normal,500,40px,47px,#333333);
                }    
                h2{
                    margin: 0;
                    @include text('Rubik',normal,300,14px,130%,#333333);
                }
            }
        }
    }
    .textAllConditions{
        display: flex;
        justify-content: center;
        align-items: center;
        .creditConditions{
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 20px 20px 20px 20px;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
            border-radius: 25px;
            margin:100px 0 100px 0; 
            gap: 36px;
            .baba2{
                padding: 43px 137px 0 125px;
                background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);;
                border-radius: 25px;
            }
            .texesCreditConditions{
                display: flex;
                flex-direction: column;
                h1{
                    max-width: 288px;
                    @include text('Rubik',normal,500,25px,30px,#333333);
                    margin: 0 0 30px 0;
                }
                .galkaText{
                    max-width: 288px;
                    margin: 0 0 30px 0;
                    display: flex;
                    align-items: start;
                    gap: 0 10px;
                    p{
                        @include text('Rubik',normal,400,15px,18px,#333333);
                        margin: 0;
                    }
                    
                }
                button{
                    background: #405554;
                    border-radius: 25px;
                    color: white;
                    height: 50px;
                }
            }
        }
    }
    .quastion_answer{
        display: flex;
        flex-direction: column;
        gap:15px 15px;
        .quationTexts{
            transition-duration: 0.4s;
            background-color: white;
            .quation{
                display: grid;
                grid-template-columns: 1103px 13px;
                grid-template-rows: 18px;
                gap: 15px 16px;
                padding: 14px 28px 14px 28px ;
                box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
                border-radius: 25px;
                height: 20px;
                transition-duration: 0.5s;
                p{
                    transition-duration: 0.4s;
                    margin: 0;
                    @include text('Rubik',normal,400,15px,18px,#333333);
                }
                img{
                    transition: 0.5s;
                    transform: rotate(0);
                    width: 13px;
                    height: 8px;
                }
                .opacityText{
                    width: 553px;
                    opacity: 0;
                    font-weight: 400;
                }
                
            }
        }
        .quationTexts:hover{
            padding: 10px;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
            border-radius: 25px;
            .quation{
                background:$colorAngri; 
                height: 157px;
                align-items: start;
                padding: 14px 17px 14px 17px ;
                p{
                    font-weight: 600;
                    margin-top: 24px;
                } 
                img{
                    margin-top: 25px;
                    transform: rotate(180deg);
                    width: 24px;
                    height: 12px;
                }
                .opacityText{
                    font-weight: 400;
                    opacity: 1;
                }
            }
        }
    }
    
}

