<footer>
    <article class = 'container'>
        <article class = 'infoGrid'>
            <section class = 'credit24 black'>
                Credit24
            </section>
            <section class="phone numfoot1">(914) 837-23-25</section>
            <section class="phone numfoot2">(984) 052-78-75</section>
            <section class="phone numfoot3">(981) 585-59-66</section>
            <section class = 'blackVertion numfoot4'>
                <section class = 'language languageFootAdd'>RU</section>
                <section class = 'language'>EN</section>
            </section>
            <section class = 'menufooter numfoot5'>Наши портнёры</section>
            <section class = 'menufooter numfoot6'>Схема работы </section>
            <section class = 'menufooter numfoot7'>Отзывы</section>
            <section class = 'menufooter numfoot8'>Вопросы-ответы</section>
            <section class = 'menufooter numfoot9'>Условия кредитования</section>
        </article>
        <article class="footerEndFlex">
            <section><a href="#">2022. Credit24. Все права защищены</a></section>
            <section><a href="#">Договора и лицензии</a></section>
            <section><a href="#">Смотреть на карте</a></section>
            <section><a href="#">Москва, Зеленоградская 26</a></section>
        </article>
    </article>
</footer>