<header>
    <article class="container menuFlex">
        <section class = 'credit24'>
            <article>Credit24</article> 
        </section>
        <section class = 'menuHeader'>
            <nav>
                <ul>
                    <li><a href="#">Партнёры</a></li>
                    <li><a href="#">Схема работы</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Вопросы - ответы </a></li>
                    <li><a href="#">Условия кредитования</a></li>
                </ul>
            </nav>
        </section>
        <section class = 'language'>
            <section class = 'card ru'>RU</section>
            <section class = 'card eg'>EN</section>
        </section>
    </article>
</header>
