<section class = 'slider container'>
                <section class = 'slider_item'>
                    <img src='../img/1.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/2.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/3.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/4.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/5.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/6.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/1.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/2.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/3.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/4.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/5.png' alt="">
                </section>
                <section class = 'slider_item'>
                    <img src='../img/6.png' alt="">
                </section>
            </section>